<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Edit Client</h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="box box-primary">
    <div class="box-body">
      <%= render partial: "form", locals: { client: @client }  %>
    </div>
  </div>
</section>
